table {
  border: 3px solid black;
  border-collapse: collapse inherit;
}

.invisible {
  visibility: hidden;

}

.red {
  background: red;
}

.blue {
  background: blue;
}

.yellow {
  background: yellow;
}


td {
  border: 2px solid black;
}

.visibility {
  visibility: hidden;
}